/* Common styles for elements */
body {
    font-family: Arial, sans-serif;
    padding: 5px;
    position: relative;
    cursor: url('../img/cursor.cur'), auto;
    transition: background-color 0.5s, color 0.5s; /* Add transition for background-color and color */
}

p {
    color: #666;
    font-size: 20px;
    margin-bottom: 10px;
}
h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Styles for the video list */
/* Styles for the video list */
#videoList li {
    margin: 5px 0;
    padding: 5px;
    background-color: #f4f4f4;
    transition: background-color 0.5s, color 0.5s; /* Add transition for background-color and color */
}

#videoList li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

#videoList li a:hover {
    color: #000;
    font-weight: bold;
}

/* Apply specific styles to #videoList text color in dark mode */
body.dark-mode #videoList li {
    color: #fff;
    background-color: #333;
}

body.dark-mode #videoList li a {
    color: #fff;
}

body.dark-mode #videoList li a:hover {
    color: #007BFF;
}

#discordLogo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#cashappLogo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#quoteInputForm button {
    max-width: 200px;
    padding: 6px 12px; /* Adjust the padding as needed */
    font-size: 14px; /* Adjust the font size as needed */
}

#searchInput {
    width: 200px; /* Set a fixed width for the search input */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchInput, #videoList {
    width: 100%; /* Set both elements to 50% width */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px; /* Set the maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 20px; /* Add margin to separate top and bottom sections */
}

#searchInput {
    width: 100%; /* Set the search input to take up the full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchButton {
    padding: 8px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin-left: 10px;
}

#videoList {
    display: none;
    list-style-type: none;
    padding: 0;
    flex: 1; /* Let the video list take up the remaining width */
}
#searchButton:hover {
    background-color: #0056b3;
}
#randomVideoButton, #newVideo, #crazyButton {
    padding: 6.5px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
}

#randomVideoButton:hover, #newVideo:hover, #crazyButton:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Styles for the "Quote of the Day" */
#quoteOfTheDay {
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-left: 5px solid #007BFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#quoteText {
    font-size: 24px;
    color: #333;
    margin: 10px;
    padding: 10px;
}

/* Remove large quotation marks */
#quoteText::before, #quoteText::after {
    content: ' ';
    font-size: 36px;
    color: #007BFF;
    vertical-align: middle;
}

#infoContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    z-index: 1; /* Ensure the container is above the blue line */
}

#discordAndAbout {
    flex-direction: column; /* Stack the links vertically */
}

#discordLink,
#aboutLink,
#homeLink,
#noteLink,
#newsLink,
#cashLink,
#settingsLink {
    color: #333;
    font-family: Arial, sans-serif;
    text-decoration: none;
    transition: color 0.3s;
}

#discordLink:hover,
#aboutLink:hover,
#homeLink:hover,
#noteLink:hover,
#newsLink:hover,
#cashLink:hover,
#settingsLink:hover {
    color: #007BFF;
    cursor: pointer;
}

#currentVideo {
    font-size: 16px;
    color: #333;
    font-family: Arial, sans-serif;
    text-decoration: none;
    transition: color 0.3s;
    cursor: url('../img/custom-cursor.cur'), auto;
}

#currentVideo a:hover {
    color: #007BFF;
}

#currentVideo a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

#titleLink {
    font-size: 20px;
    color: #333;
    font-family: Arial, sans-serif;
    text-decoration: none;
    transition: color 0.3s;
    margin-bottom: 20px;
    cursor: url('../img/custom-cursor.cur'), auto; /* Add this line to set the cursor */
    display: block; /* Ensures the link takes the full width */
    padding-bottom: 10px; /* Adjust the padding as needed */
}

#titleLink:hover {
    color: #007BFF;
}

#customHeader2 {
    color: #333;
    font-size: 24px;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 0;
    margin: 0;
}

/* CSS for the update banner */
.update-banner {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none; /* Initially hidden */
    z-index: 999;
    border-bottom: 1px solid #000;
}

.update-banner a {
    color: #007BFF;
    text-decoration: none;
}

/* Add this CSS to style the container */
.quote-container {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    width: 50%;
}

/* Style the "x" button */
.closexd {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}



#closeUpdateButton {
    background-color: #333;
    color: #fff;
    border: 1px solid #999; /* Add a grey border */
    padding: 6px 15px;
    cursor: pointer;
    border-radius: 5px; /* Slightly rounded corners */
    position: absolute;
    top: 20px;
    right: 10px;
}

#closeUpdateButton:hover {
    background-color: #3d3d3d;
    cursor: url('../img/custom-cursor.cur'), auto;
}

/* Text Color for #updateP */
#updateP {
    color: #fff;
}

/* Add this CSS to ensure the list item size remains consistent */
.video-list li {
    display: none;
}

.video-list li.visible {
    display: list-item;
}
#currentVideo:hover, #discordLink:hover, #aboutLink:hover, #homeLink:hover, #newsLink:hover, #titleLink:hover {
    cursor: url('../img/custom-cursor.cur'), auto;
}

/* Add this CSS rule to set the cursor for generic links and buttons */
a:hover, button:hover {
    cursor: url('../img/custom-cursor.cur'), auto;
}

/* Styles for message boxes */
/* CSS for the notification modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    float: right;
    cursor: pointer;
}
#toggleVideoListButton {
    padding: 6.5px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
}

#toggleVideoListButton:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
/* Styles for the user quote section */
#quoteInputContainer {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    margin: 0;
    text-align: left; /* Align the text to the left */
}

#quoteInputForm {
    display: flex;
    flex-direction: column;
    display: none;
}

#quoteContent {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
}

#quoteAuthorDisplay {
    font-size: 18px;
    color: #007BFF; /* Change the color or style as needed */
    margin: 10px;
    padding: 10px;
}

#quoteAuthorInput {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
}

#quoteInputContainer h2 {
    font-size: 20px;
    color: #333;
    margin: 0 0 10px;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

#quoteInputContainer button {
    padding: 6px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    font-size: 14px;
}

#quoteInputContainer button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


/* Styles for Dark Mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
    transition: background-color 0.5s, color 0.5s; /* Add transition for background-color and color */
}

body.dark-mode p {
    color: #fff;
}

body.dark-mode #quoteOfTheDay {
    background-color: #333;
    border-left: 5px solid #007BFF;
}

body.dark-mode #quoteText {
    color: #fff;
}

body.dark-mode #quoteText::before, body.dark-mode #quoteText::after {
    color: #007BFF;
}

body.dark-mode #infoContainer {
    color: #fff;
}

body.dark-mode #discordLink,
body.dark-mode #aboutLink,
body.dark-mode #homeLink,
body.dark-mode #noteLink,
body.dark-mode #cashLink,
body.dark-mode #settingsLink,
body.dark-mode #newsLink {
    color: #fff;
}

body.dark-mode #discordLink:hover,
body.dark-mode #aboutLink:hover,
body.dark-mode #homeLink:hover,
body.dark-mode #noteLink:hover,
body.dark-mode #cashLink:hover,
body.dark-mode #settingsLink:hover,
body.dark-mode #newsLink:hover {
    color: #007BFF;
}

body.dark-mode #currentVideo {
    color: #fff;
}

body.dark-mode #currentVideo a {
    color: #fff;
}

body.dark-mode #titleLink {
    color: #fff;
}

body.dark-mode #customHeader2 {
    color: #fff;
}

body.dark-mode #updateP {
    color: #fff;
}

body.dark-mode #quoteInputContainer {
    background-color: #333;
    color: #fff;
}

body.dark-mode #quoteInputContainer h2 {
    color: #fff;
    border-bottom: 2px solid #007BFF;
}

body.dark-mode #quoteInputContainer button {
    background-color: #007BFF;
    color: #fff;
}

body.dark-mode #quoteInputContainer button:hover {
    background-color: #0056b3;
}

body.dark-mode #quoteAuthorDisplay {
    color: #007BFF;
}

body.dark-mode #quoteAuthorInput {
    color: #fff;
}

body.dark-mode #quoteContent {
    color: #fff;
}

body.dark-mode, body.dark-mode {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
}

body.dark-mode #searchInput {
    background-color: #333;
    color: #fff;
}

body.dark-mode #searchButton {
    background-color: #007BFF;
    color: #fff;
}

body.dark-mode #searchButton:hover {
    background-color: #0056b3;
}

body.dark-mode .quote-container .closexd {
    color: #fff;
}

#settingsPanel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(0);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transform-origin: center top;
}

#settingsPanel.active {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scaleY(1);
    transition: none; /* Remove the transition property */
}

#settingsPanel.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

#settingsContent {
    text-align: center;
}

#settingsPanel h2 {
    margin-bottom: 20px;
}

#settingsLink:hover {
    cursor: url('../img/custom-cursor.cur'), auto;
}

body.dark-mode #settingsPanel {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
}

body.dark-mode #settingsContent {
    color: #fff;
}

body.dark-mode #settingsPanel h2 {
    color: #fff;
}

body.dark-mode #settingsLink:hover {
    cursor: url('../img/custom-cursor.cur'), auto;
}

#settingsPanel.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

#watchHistoryList li {
    margin: 5px 0;
    padding: 5px;
    background-color: #f4f4f4;
    transition: background-color 0.5s, color 0.5s; /* Add transition for background-color and color */
}

#watchHistoryList li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

#watchHistoryList li a:hover {
    color: #000;
    font-weight: bold;
}

body.dark-mode #watchHistoryList li {
    color: #fff;
    background-color: #333;
}

body.dark-mode #watchHistoryList li a {
    color: #fff;
}

body.dark-mode #watchHistoryList li a:hover {
    color: #007BFF;
}
